<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header'); -%>
</head>
<body>
    <h1 style="text-align: center;">404! Page not found</h1>
    <h3 style="text-align: center;"><a href="/">Click here to redirect to home page</a></h3>
</body>
</html>