<footer>
    <div class="diff_sections">
        <div class="one">
            <div class="headingOne">
                <h4>Need Help?</h4>
            </div>
            <a href="/about">About Us</a>
        </div>

        <div class="one">
            <div class="headingOne">
                <h4>Quick Links</h4>
            </div>
            <a href="/resources">Resources</a>
            <a href="/resources/questions">Practice Questions</a>
            <a href="/resources/quiz">Quiz</a>
        </div>

        <div class="one">
            <div class="headingOne">
                <h4>Follow Us</h4>
            </div>
            <a href="https://www.instagram.com/student_corner18?r=nametage">Instagram</a>
            <a href="https://www.linkedin.com/in/student-corner-307706255">Twitter</a>
            <a href="https://twitter.com/student_corner1?t=JExvfmGxTyKQv8MpWGdAfg&s=09">LinkedIn</a>
        </div>

        <div class="newsletter">
            <div class="newsletter_heading">
                <h4>Subscribe To Newsletter</h4>
            </div>
            <form method="post" action="https://formsubmit.co/eb100ef244dc31ad165c3d12d4cf15bb" enctype="multipart/form-data">
                <input type="text" name="email" placeholder="Enter Your Email...">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="footer_last">
        <p>Copyright © 2022 Students Corner. All Rights Reserved.</p>
    </div>

</footer>
